/* * {
  outline: green;
  outline-style: solid;
  outline-width: 2px;
} */

body {
  margin: 0
}

.header {
  height: 300px;
}

.header--image {
  height: 100%;
  width: 35%;
  float: left;
}

.header--image-src {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header--content {
  height: 100%;
  width: 65%;
  float: left;
}

.header--content-inner {}
.header--content-link {
  display: block;
  padding: 10px;
}

.header--content-link:hover {
  color: orange;
}

.header--content-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  float: right;
}

.header--content-list-item {
  float: left;
}

/* Mobile styles */

@media (min-width: 600px) {
  .header--content-list {
    display: block;
  }
}